*,::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Permanent Marker";
    src: url("/fonts/PermanentMarker-Regular.ttf") format("ttf"),
     url("/fonts/PermanentMarker-Regular.eot") format("eot"),
     url("/fonts/PermanentMarker-Regular.woff") format("woff");
}

body {
    font-family: "Permanent Marker",Arial, Helvetica, sans-serif;
    background-color: rgb(215, 237, 51);
}

.banner {
    position: absolute;
    z-index: -1000;
    object-fit: cover;
    height: 1000px;
    width: 100%;
}

h1 { 
    font-family: 'Permanent Marker',Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    background-image: url("/images/10767858.jpg");
    background-position: 50% ;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

h2 {
    margin: 50px;
    text-align: center;
    font-size: 2rem;
}

.container-imgs {
    display: flex;
    justify-content: center;
    margin: 60px 20px;
}

.container-imgs img {
    width: 550px;
    border-radius: 50px;
    margin: 30px;
    transition: all 0.250s ease-in-out;
}

.img-bloc {
    position: relative;
}

.desc {
    position: absolute;
    top: 80%;
    right: 10%;
    color: aliceblue;
    font-size: 1.8rem;
}

.container-imgs img:hover {
    transform: scale(1.2);
}


ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

li {
    font-size: 2rem;
    list-style-type: none;
    color: rgb(255, 255, 255);
    margin: 10px;
}

li:hover {
    transition: all 0.250s linear;
    color: rgb(0, 255, 8);
}


article {
    margin: 50px auto;
    text-align: center;
    width: 500px;
    font-size: 2rem;
    color: rgb(14, 255, 6);
}

aside {
    font-size: 2.5rem;
    color: red;
    text-align: center;
    margin: 50px;
}

.blank {
    height: 120px;
}

.ctn-picture {
    text-align: center;
}

.picture-sinnoh{
    margin: 80px 30px;
    height: 600px;
    width: 800px;
    object-fit: cover;
    z-index: 2;

}

.ctn-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxe {
    margin: 15px;
    width: 800px;
    height: 300px;
    border: 2px outset blueviolet
}

.pkmn-pic {
    width: 800px;
    height: 295px;
    object-fit: cover;
}


